.title {
  padding-top: 30px;
  font-weight: 700;
}

.container {
  min-height: 100vh;
  min-width: 100vh;
  top: 0;
  bottom: 0;
  position: absolute;  

}  

.row {
  margin: 30px;
  margin-left: 21%;
}

.check-table {
  margin-bottom: 2%; 
  width: 50%;
  overflow-x: auto;
  border-radius: 15px;
  border: 1px transparent;
  background-color: #FDB38A;
  position: relative;
  left: 24.5%;
}

input[type=checkbox] {
  height: 20px;
  width: 20px;
  border: 1px solid white;
}


table {
  border: 1px transparent;
  position: relative;
}

th, td {
  padding: 10px;
  text-align: left;
}

label {
  margin-left: 10px;
}

.completed-task {
  margin-top: 3%;
  width: 200px;
  border-radius: 8px;
  border: 1px solid;
  position: relative;
  left: 24.5%;
}